html {
    font-family: "Inter", monospace !important;
    background-color: #111 !important;
    color: #a0a0a0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 160px 24px 160px 24px; */
    margin: 0;
    overflow-x: hidden;
  
    font-family: "Inter", monospace !important;
    color: #a0a0a0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3 {
  color: #ededed;
}

a {
  color: #539bf5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0rem 2rem;
  /* text-align: center; */
}
button,input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #a0a0a0;
  cursor: pointer;
  width: fit-content;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.infoStack {
  width: 100%;
  /* border-radius: 10px; */
  /* background-color: rgb(197, 197, 197); */
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  max-height: 650px;
  /* padding: 5px; */
  text-align: center;
}

.infoStack button {
  width: 100%;
}